{% extends 'home/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
    {% block body %}
        <div class="d-flex">
            <div class="d-flex align-self-start">
                <img src="{{ portfolio.portfolio_image }}" alt="" width="300">
            </div>
            <div class="flex-grow-1 ms-3">
                <h5 class="mt-0">{{ portfolio.portfolio_item_name }}</h5>
                <p>{{ portfolio.portfolio_item_desc }}</p>
        </div>
        </div>
    {% endblock %}
</body>
</html>