{% extends 'home/base.html'%}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <{% block body %}>
            <div class="row">
              <div class="col-6 d">
                <div class="card">
                  <div class="card-body">
                    <h3 class="card-title">Daniel Hacking</h3>
                    <p class="card-text">CS Student</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row ">
              <div class="col-3">
                <div class="card">
                  <div class="card-body">
                    <h3 class="card-title">Email</h3>
                    <p class="card-text">example@email.com</p>
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div class="card">
                  <div class="card-body">
                    <h3 class="card-title">Phone #</h3>
                    <p class="card-text">801-555-5555</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row ">
              <div class="col-6 d">
                <a href="{% url 'contact_form' %}" class="btn btn-primary" role="button">
                  <div class="btn-primary center">
                    <div class="card-body"> 
                      <h3 class="card-title">Contact me.</h3>
                    </div>
                  </div>
                </a>
              </div>
            </div>
        <{% endblock %}>
    </body>
</html>