{% extends 'home/base.html'%}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <{% block body%}>
            <div class="d-flex">
                <div class="flex-grow-1 ms-3">
                    <h5 class="mt-0">Portfolio : Daniel Hacking</h5>
                    <p>Welcome to my development portfolio! I'm excited to have you here and to share my projects and skills with you.</p>
                    <p>As a developer, I'm passionate about using my coding skills to create innovative solutions to real-world problems. My portfolio is a collection of projects that I've worked on over the years, each of which demonstrates my expertise in various programming languages, frameworks, and tools.</p>
                    <p>Whether you're an employer, a potential collaborator, or just someone who's interested in what I do, I hope you find something that catches your eye. Feel free to browse through my portfolio, check out my code, and learn more about my background and experience.</p>
                    <p>If you have any questions or would like to discuss a potential project, please don't hesitate to get in touch with me. I'm always open to new ideas and opportunities, and I'd love to hear from you.</p>
                    <p>Thank you for visiting my portfolio, and I hope you enjoy exploring my work!</p>
              </div>
            </div>
        <{% endblock %}>
    </body>
</html>